*, *::before, *::after {
            box-sizing: border-box;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 0;
            padding: 0;
        }

        input:-webkit-autofill {
            background-color: white !important;
            color: black !important;
            box-shadow: 0 0 0px 1000px white inset !important;
        }


        body{
            padding: 0.5rem;
        } 

        :root{
            --clr-main: rgb(39, 107, 231);
            --clr-button: rgb(50, 160, 50);
            --clr-green:rgb(34, 173, 104);
            --clr-white:#f9f9f9;
            --clr-black:#333;
            --clr-gray:#ccc;
            --clr-yellow:rgb(255, 193, 7);
            --clr-red:rgb(220, 53, 69);
            --clr-blue:rgb(0, 123, 255);
            --clr-blue-1: steelblue;
            --clr-light-green:rgb(34, 173, 104);
            --clr-orange:tomato;
            --clr-purple:slateblue;
            --clr-dark-blue:royalblue;
            --clr-orange-red:orangered;
            --clr-aqua:aquamarine;
            --clr-dark-gray:lightslategrey;
            --clr-lightwhite:rgb(227, 241, 223);
        }
        
        /*El header*/
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9;
            padding: 0.5rem;
        }

        .bar{
            background: rgb(39, 107, 231);
            width:100%;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: center;
        }  

        .bar-center{
            width: 72%;
            padding: 0.5rem 0 0.5rem 0px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .bar-one{
            display: flex;
            gap: 1.87rem;
        }

        .bi{
            margin-right: 0.62rem; 
            color: white;
            font-size: 1rem;
        }

        .phone-number, .email, .location{
            color: white;
            font-size: 1rem;
        }

        nav{
            width: 100%;
            background: rgba(255, 255, 255, 0.2); /* fondo translucido */
            backdrop-filter: blur(10px);          /* desenfoque detras */
            -webkit-backdrop-filter: blur(10px);  /* soporte para Safari */
            border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* borde brillante */
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);         /* sombra suave */
            display: flex;
            justify-content: center;
        }

        .nav-center{
            width:72%;
            background: transparent;
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding-top: 0.62rem;
        }
        /*El logo de Servielect*/
        .nav-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.62rem;
            transform: translateX(-1.87rem);

        }

        .nav-logo img {
            width: 7.5rem;
        }

        .nav-logo p {
            transform: translateX(-23px);
            font-size: 1.5rem;
            font-weight: 700;
            color: black;
        }

        .nav-logo span{
            color: blue;
            font-weight: 700;
        }

        .nav-logo .span-1{
            color: blue;
            font-size: 2rem;
        }

        .nav-logo .p-1 {
            font-size: 0.8rem;
            color: gray;
        }

        /*Menu*/
        .nav-ul{
            display: flex;
            gap: 2.18rem;
            list-style: none;
        }

        .nav-li{
            text-decoration: none;
            font-weight:500;
            color: black;
            font-size: 1.2rem;
        }

        .nav-li:hover{
            color: var(--clr-green);
        }
        
        /*boton*/
        .tipo-login{
            padding: 0.81rem 2.18rem 0.81rem 2.18rem;
            color: white;
            font-weight: 600;
            background:rgb(63, 73, 223);
            border-radius: 0.31rem;
            border: 0;
            font-size: 1rem;
            cursor: pointer;
        }
        
        /* la primera seccion*/
        .section-1{
            display: flex;
            flex-direction:column;
            align-items: center;
            position: relative;
            width: 100%;
            height:100vh;
            z-index: 1;
        }

        .section-1::before {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: url('/img/Mountains.jpg') no-repeat center center / cover;
            opacity: 0.5; /* solo el fondo será opaco */
            z-index: -1; /* detrás del contenido */
        }

        .cont{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 72%;
            display: flex;
            justify-content: center;
        }

        .cont1{
            margin-top: 100px;
            margin-bottom: 100px;
            padding: 60px;
            padding-bottom: 20px;
            border-radius: 10px;
            border: 1px solid rgb(243, 236, 236);
            box-shadow: 0 0.25rem 0.93rem rgba(238, 238, 248, 0.4);
        }

    
        .info{
            width: 400px;
            display: none;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            min-height: 50px;  
            border-radius: 5px;
            background: var(--clr-blue);
        }

        .info p{
            font-size: 1rem;
           justify-content: center;
            color: var(--clr-white);
            width: 400px;
        }

        .for{
            width: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:20px;
            padding:0px 0 0 15px;
            border-radius:5px;
            margin: 20px 0 20px 0;
            background:transparent;
        }
        .for input{
            border: none;
            height: 40px;
            width: 400px;
            border-radius: 5px;
            padding: 0 0 0 40px;
            font-size: 18px;
            background: var(--clr-white);
        }
      
        #opciones {
            display: none;
            border: 1px solid #ccc;
            max-width: 200px;
            background: #f9f9f9;
            position: absolute;
            z-index: 10;
        }
        #opciones div {
            padding: 8px;
            cursor: pointer;
        }
        #opciones div:hover {
            background: #ddd;
        }


        .color{
            color: var(--clr-black);
        }

        .for h1{
            height: 40px;
            width: 400px;
            text-align: center;
        }
      
        .label1{
            position: relative;
        }
        .label1 label{
            position: absolute;
            top:10px;
            left:10%;
            color:gray;
            pointer-events:none;
            transition: all 0.5s ease;
        }

        input:focus{
            outline: none;
            border: none;
        }


        input:focus + label,
        input:not(:placeholder-shown) + label{
            top: -12px;
            left: 2%;
            font-size: 14px;
            color:var(--clr-black);
            font-weight: 700;
            background-color:transparent;
            outline: none;
            border: none;
        }
        .btn{
            width: 400px;
            height: 40px;
            margin-top: 10px;
            border-radius: 15px;
            background-color: greenyellow;
            font-size: 18px;
            background-color: green;
        }

        .btn:hover{
            color: var(--clr-white);
        }

        .cont2{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }

        .datos{

            display: flex;
            justify-content:baseline; 
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 100px; 
            font-size: 1.2rem;
            font-weight: bold;
        }

        .datos div{
            width: 22.5rem;
            gap: 1.25rem;
            padding: 1.5rem;
            border:1px solid #ccc;
            border-radius: 0.5rem;
            background-color: #f9f9f9;
            text-align: center;
            transition: transform 0.2s ease-in-out;
        }

        .datos div:hover{
            transform: translateY(-0.3rem);
            box-shadow: 0 0.25rem 0.93rem rgba(63, 73, 223, 0.4);
            border: 1px solid black;
        }

        .datos div p{
            width: 20rem;
            text-align: start;

        }

        .datos div button{
            width: 85px;
            padding: 5px;
            font-size: 1.2rem;
            color: var(--clr-white);
            font-weight: bold;
            margin: 20px 20px 0 20px;
            background:var(--clr-main);
            border-radius: 5px;
            transition: background 0.3s;
            cursor: pointer;
            border: none;
        }

        .datos div button:hover{
            background: var(--clr-green);
        }

        .oculto{
            display: none;
        }

        .alert-danger{
            font-size: 1.2rem;
            text-align: center;
            color: var(--clr-red);  
        }

        .alert-success{
            font-size: 1.2rem;
            text-align: center;
            color:var(--clr-white);
            
        }
