*, *::before, *::after {
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px var(--clr-white) inset !important;
}

body{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0;
} 

.container{
    margin: 0;
    padding:0;
}

:root{
    --clr-main: rgb(39, 107, 231);
    --clr-button: rgb(50, 160, 50);
    --clr-green:grb(34, 173, 104);
    --clr-white:#f9f9f9;
    --clr-black:#333;
    --clr-gray:#ccc;
    --clr-yellow:rgb(255, 193, 7);
    --clr-red:rgb(220, 53, 69);
    --clr-blue:rgb(0, 123, 255);
    --clr-blue-1: steelblue;
    --clr-light-green:rgb(34, 173, 104);
    --clr-orange:tomato;
    --clr-purple:slateblue;
    --clr-dark-blue:royalblue;
    --clr-orange-red:orangered;
    --clr-aqua:aquamarine;
    --clr-dark-gray:lightslategrey;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    
}

.bar{
    background: rgb(39, 107, 231);
    width:100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}  

.bar-center{
    width: 72%;
    padding: 0.5rem 0 0.5rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bar-one{
    display: flex;
    gap: 1.87rem;
}

.bi{
    margin-right: 0.62rem; 
    color: white;
    font-size: 1rem;
}

.phone-number, .email, .location{
    color: white;
    font-size: 1rem;
}

nav{
    width: 100%;
    background: rgba(255, 255, 255, 0.2); /* fondo translucido */
    backdrop-filter: blur(10px);          /* desenfoque detras */
    -webkit-backdrop-filter: blur(10px);  /* soporte para Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* borde brillante */
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);         /* sombra suave */
    display: flex;
    justify-content: center;
}

.nav-center{
    width:72%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 0;
}
/*El logo de Servielect*/
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    transform: translateX(-1.87rem);

}

.nav-logo img {
    width: 7.5rem;
}

.nav-logo p {
    transform: translateX(-23px);
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.nav-logo span{
    color: blue;
    font-weight: 700;
}

.nav-logo .span-1{
    color: blue;
    font-size: 2rem;
}

.nav-logo .p-1 {
    font-size: 0.8rem;
    color: gray;
}

/*Menu*/
.nav-ul{
    display: flex;
    gap: 2.18rem;
    list-style: none;
}

.nav-li{
    text-decoration: none;
    font-weight:500;
    color: black;
    font-size: 1.2rem;
}

.nav-li:hover{
    color: var(--clr-green);
}

/*container de login*/
.container-login{
    width: 18%;
}

.login{
    display: flex;
    justify-content: space-around;
}

.login ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.login li a {
    text-decoration: none;
    color:var(--clr-black);
    font-weight:700;
    cursor: pointer;
    }

.login li a:hover {
      color: var(--clr-main); /* Color al pasar el mouse */
}


/*panel flotante*/
.redes-fijas {
    position: fixed;
    top: 50%;
    right: 1.87rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.93rem;
    z-index: 8;
}

.redes-fijas a {
    font-size: 1.5rem;
    color: rgb(63, 73, 223);
    text-decoration: none;
    transition: transform 0.2s ease;
}

.bi-0{
    border: 2px solid #ccc;
    width: 2.81rem;
    height: 2.81rem;
    font-size: 1rem;
    color: black;
    background: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-fijas a:hover {
    transform: scale(1.2);
}
.wh:hover{
    background: var(--clr-button);
    color: whitesmoke;
}
.fb:hover{
    background: var(--clr-main);
    color: whitesmoke;
}
.tg:hover{
    background: rgb(238, 76, 76);
    color: whitesmoke;
}
.tw:hover{
    background:cornflowerblue;
    color: whitesmoke;
}
/*the first section*/
.section-1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .section-1::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('/Frontend/img/1781.png') no-repeat center center / cover;
    opacity: 0.5; /* solo el fondo será opaco */
    z-index: -1; /* detrás del contenido */
}

.con-section-1{
    width:72%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border:1px solid var(--clr-black);
    background: transparent;
    box-shadow: 0 0 10px rgba(24, 23, 23, 0.1);
    padding: 20px 80px 50px 80px;
    border-radius: 10px;
}

.form-login h2{
    text-align: center;
    font-size: 2rem;
}

.form-login input{
    width: 400px;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: 300;
    background: var(--clr-white);
    border: none;
}

.info_restore{
    width: 400px;
    border-radius: 0.4rem;
    background: transparent;
    border: none;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    border-radius: 0.4rem;
    background: transparent;
    border: none;
}

.info_restore p{
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;
}

.form-login input:focus{
    outline: none;
    border: 2px solid var(--clr-main );
}

.buttons button{
    width: 160px;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-white);
    background: var(--clr-main);
    cursor: pointer;
}

.buttons button:hover{
    color: var(--clr-green);
}

.form-login .forgot{
    width: 80%;
    padding-left: 1rem;
}

.forgot a{
    text-decoration: none;
    color: var(--clr-dark-gray);
}

footer{
    width: 100%;
}

.copy{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #5a5757;
    padding: 1.4rem;
}
.copy .center{
    width: 74%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.copy .p-6{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.copy a, p{
    color: var(--clr-dark);
    text-decoration: none;
}

/*.oculto{
    display: none;
}*/

.height-login{
    height: 100vh;
}

.oculto{
    display: none;
}
.alert-danger{
    font-size: 1.2rem;
    text-align: center;
    color: var(--clr-red);  
}
.alert-success{
    font-size: 1.2rem;
    text-align: center;
    color:var(--clr-green);
    
}

@media(max-width:600px){
    html{
        font-size: 62.5%;
    }
}